.hidden {
	display: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial;
	background-color: #111;
	overflow: hidden;
	text-align: center;
}

body.hit {
	-webkit-transition: 1s ease;
}

a {
	color: #588618;
	text-decoration: none;
}

button {
	background: #F4F4F4;
	border: none;
	color: #444;
	padding: 10px 20px;
	-webkit-transition: 0.25s ease;
}

button:hover {
	background: #AAA;
	color: white;
}

canvas {
	background-color: #9CC5C9;
}

.play-again-button {
	display: none;
}

.gameover .play-again-button {
	display: inline-block;
}

.screen.game {
	margin-top: 100px;
	-webkit-transition: 0.3 ease;
}

.gameover .screen.game {
	-webkit-transform: translateY(50px);
	opacity: 0;
}

.hud {
	color: #666;
	padding: 16px;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
}

.hud--left {
	float: left;
}

.hud--right {
	float: right;
}

.hud--life {
	display: inline-block;
	overflow: hidden;
	font-size: 0;
}

.hud--life__item {
	list-style: none;
	display: inline-block;
	color: indianred;
	position: relative;
	font-size: 25px;
	width: 28px;
}

.hud--life.l2 .hud--life__item {
	left: -28px;
}

.hud--life.l1 .hud--life__item {
	left: -56px;
}