.hidden {
	display: none;
}

* {
	/*box-sizing: border-box;*/
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial;
	background-color: #111;
	overflow: hidden;
}

body.hit {
	-webkit-transition: 1s ease;
}

a {
	color: #588618;
	text-decoration: none;
}

canvas {
	background-color: #9CC5C9;
	margin-top: 200px;
}

.hud {
	color: #666;
	padding: 16px;
}

.hud--bottom {
	text-align: right;
	font-size: 30px;
	font-weight: bold;
}