.hidden {
	display: none;
}
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Aria, sans-serif;
	background-color: #222;
	overflow: hidden;
}

a {
	color: #588618;
	text-decoration: none;
}

canvas {
	background-color: #222;
}